uvicorn==0.35.0
asyncpg==0.30.0
fastapi==0.112.0
pydantic==2.8.2
SQLAlchemy==2.0.30
pydantic-settings==2.10.1
celery==5.5.3
polars==1.30.0
python-multipart==0.0.20
redis<5.0
PyJWT==2.10.1
pydantic[email]
python-jose[cryptography]
passlib[bcrypt]
